<link rel="stylesheet" href="/header.css">
    <div class="heading">
        <button class="togit"><i class="fa fa-brands fa-github"></i> Check out Github</button>
        <i class="fa fa-solid fa-music head-ico"></i> ShareSound
    </div>

