<link rel="stylesheet" href="/css/header.css">
    <div class="heading">
        <button class="togit"><i class="fa fa-brands fa-github"></i> Check out Github</button>
        <i class="fa fa-solid fa-music head-ico"></i> ShareSound
        <% if(locals.user){%>
            <a href="/users/sign-out">Sign Out</a>
            <% } %>
    </div>

