<link rel="stylesheet" href="/css/home.css">

<div id="root"></div>

<div class="signup-container">
        <div class="red">
                <%= error %>
            </div>
        <form class="signup-form" action="/users/createsession" method="POST">
                <img src="/img/music.jpg" class="music-img">
                <div class="input-feild">
                <div class="forms">

                <div class="feild">
                <label for="username">User Name</label>
                <input type="text" name="username" id="username">
                </div>

                <div class="feild">
                <label for="password">Password</label>
                <input type="password" name="password" id="newpassword">
                </div>

                <div class="login-container feild">
                        <div class="rememberme">Remember me<input name="remeberme" type="checkbox"></div>
                        <input class="submit-button" type="submit">
                </div> 
                <div class="signup"><a href="http://localhost:8000/sign-up">Sign Up?</a></div>
                </div> 
                
                </div>
                
        </div>
</form>

</div>

<script src="dyte.js"></script>
